    @charset "utf-8";
    /*  código para el Tooltip  */

    .midiv {
        width: 15px;
        height: 15px;
    }

    .tip {
    position: relative;
    border-bottom: dotted 1px #3E3E3E;
    cursor:pointer; /* default;*/
    }
       
    .tip .midiv {
    display: none;
    position: absolute;
    top:0px;
    left: 80%;
    z-index: 10000;
      transform: rotate(-45deg); 
      -webkit-transform: rotate(-45deg); 
      -moz-transform: rotate(-45deg); 
      -o-transform: rotate(-45deg);
    }

    .tip span {
    display: none;
    position: absolute;
    top: -32px;
    left: 100%;
    width: 190px;
    padding: 5px;
    z-index: 10001;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari */
    }
    *:hover.tip {
    font-size: 99%; /* fix IE */
    }
    *:hover.tip span,*:hover.tip .midiv {
    display: block;
    margin-left: 5px;
    background:#555;
    }
    /* personalizar el cursor según el tipo de información */
    abbr.tip{
    cursor: help;
    }
    a.tip{
    cursor: pointer;
    }
    /* podemos personalizar tambien cada tip en particular */
    span.tip span,span.tip .midiv{
    text-align: left;
    font-size: 11px;
    }
    span.tip span img{
    /*opacity: 0.8;    */
    width: 100%;
    height: 20%;
    z-index: 10002;
    }
    span.tip span img:hover{
    opacity: 0.5;
    }
